@charset "UTF-8";
 /*IMPRESSÃO*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url('../imagens/back-print.jpg');  /*Impressora não imprime background*/;
    }
    main {
        width: 98vw;
        border: 2px solid black;
    }
    main::after {
        content: 'Essa impresão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }
    main h1 {
       
        text-shadow: none;
        color: black
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#tv {display: none;}
    img#pc {display: none;}
