@charset "UTF-8";
/*TABLET*/
    body {
        background-image: url('../imagens/back-tablet.jpg');
        
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#tv {display: none;}
    img#pc {display: none;}
