@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#F1D8C9, #F2C3A7 );
}
p {
    text-align: justify;
}
h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #6d420696;
}
h2 {
    color: #125189;
}
main {
    background-color: white;
    padding: 10px;
    margin: auto;
} 